{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}| Blog</title>
</head>
<body>
   <p class=""> I've written {% total_posts %} posts so far .</p>
   <h3>latest Post</h3>
   {% show_latest_post 3 %}
 {% comment %}
   <h3>Most commented Post</h3>
   {% get_most_commented_posts as most_commented_posts %}
   <ul class="">
    {% for post in most_commented_posts %}
    <li class="">
        <a href="{{post.get_absolute_url}}" class="">{{post.title}}</a>
    </li>
    {% endfor %}
{% endcomment %}
   </ul>
    {% block content %}

    {% endblock %}
    <p class="">
        <a href="{% url 'blog:post_feed' %}" class="">
            subscribe to my rss feed
        </a>
    </p>
</body>
</html>