{% extends 'base.html' %}
{% block title %}List{% endblock %}
{% block content %}
    <div class="">
        <h2 class="">my blog</h2>
        {% if tag %}
        <h2 class="">
            Posts tagged with "{{tag.name}}"
        </h2>
        {% endif %}
        <div class="">
            {% for post in posts %}
                <h2 class="">
                    <a href="{{ post.get_absolute_url }}" class="">{{ post.title }}</a>
                </h2>
                <p class="">
                    Tags: 
                    {% for tag in post.tags.all %}
                    <a href="" class="">
                        {{tag.name}}
                    </a>
                    {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
